body{
    min-height: 250px;
    background: #393D3F;
}

#input-el{
    background-color: #C6C5B9;
    color: #FDFDFF;
    width: 220px;
    margin: 7px;
    padding: 7px;
    border-radius: 5px;
}

.container{
    width: 100vw;
    color: #FDFDFF;
}

#ul-el{
    list-style: none;
    font-size: 1.5rem;
}

.fix-position{
    width: 100vw;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #C6C5B9;
}
button{
    background-color: #546A7B;
    color: #FDFDFF;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
}